/* Put your CSS here */
html, body {
    margin: 20px;
}

.board {
    color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    background-color: #393939;
    border-color: #000000;
    float: left;
    overflow: auto;
    width: 100%;
}

.board input {
    color: #000000;
}

.column {
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-color: #000000;
    float: left;
    color: black;
    minwidth: 200px;
}

.modal-content {
    color: black;
}

.card-details td{
    padding: 2px;
}

.card-details .outlined{
    outline: black solid 1px;
}

.card {
    margin: 5px;
    padding: 5px;
    background-color: lightslategray;
    border-color: #000000;
    min-width: 150px;
}

.dragged {
    border-style: dashed;
    border-color: darkgray;
}

.outlined {
    outline: white solid 1px;
}
.editable-field {
    margin: 1px;
    padding: 6px 3px;
    width: 100%;
}

.editable-area {
    margin: 1px;
    padding: 6px 3px;
    width: auto;
    resize: none;
}

span.input-group-addon {
    padding: 3px 0px;
}

button.icon {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
