<div class="modal-footer">
  {{#bs-button icon='fa fa-check' type="primary" clicked="save" disabled=disableSubmit}}Save{{/bs-button}}
  {{#bs-button icon='fa fa-times' clicked="closeModal"}}Cancel{{/bs-button}}
</div>