<div class="remove" type="button" {{action "remove" }}><i class="fa fa-times-circle-o"></i></div>
<button type="button" class="btn btn-default" {{action showCardDetails}}><i class="icon-signin"></i> Details</button>
{{hover-aware-text-field model=model.name}}

{{hover-aware-text-area model=description}}
