<div class='row'>
  <div class='col-md-9'>
    <button class='icon' {{action 'showCardDetails' model}}><i class='fa fa-search'></i> {{model.name}}</button>
  </div>
  <div class='col-md-offset-1 col-md-1'>
    <button class='icon' {{action 'remove'}}><i class='fa fa-times-circle-o'></i></button>
  </div>
</div>
<br>
<div>{{description}}</div>
