{{#bs-button type="button" clicked="remove" }}<i class="fa fa-times-circle-o"></i>{{/bs-button}}

{{model.name}}

{{#if isDragging}}
  <div class="card placeholder">Drop to move here</div>
{{/if}}

{{#each model.cards itemController='card'}}
  {{#unless model.archived}}
    {{view 'card'}}
  {{/unless}}
{{/each}}

<br/>
